body {
    font-family: sans-serif;
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    text-align: center;
}

.highlight {
    color: red;
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#main-header {
    background-color: #2196f3;
    color: white;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid #333;
    margin: 20px auto;
}